{% extends "base.html" %}

{% block content %}

<div class="card">

<div class="card-body">

<h2>Panel de Administración</h2>

<p>Aplicación vulnerable para pruebas DevSecOps.</p>

<hr>

<div class="d-grid gap-2">

<a href="/login" class="btn btn-primary">Login</a>

<a href="/ping" class="btn btn-warning">Ping</a>

<a href="/download" class="btn btn-secondary">Descargar archivo</a>

<a href="/profile" class="btn btn-success">Perfil</a>

<a href="/search" class="btn btn-info">Buscar</a>

</div>

</div>

</div>

{% endblock %}